@keyframes randomText {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 20%;
    left: 40%;
  }
  50% {
    top: 60%;
    left: 30%;
  }
  75% {
    top: 80%;
    left: 70%;
  }
  100% {
    top: 50%;
    left: 90%;
  }
}

.animate-randomText {
  animation: randomText 5s infinite;
}
